.header--standard-landing .logo .img-wrap{
	width: 110px;
}
.bg-twitch{
	background-color: #4B367C;
}
.modal-mx .close{
	margin: 0;
	padding: 0;
}
.modal-mx .btn{
	margin-bottom: 0;
}
.btn-img-container{
  padding: 0;
  border: 0;
  position: relative;
  border: 3px solid #385D8A;
  background-color: #4F81BD;
  width:60px;
  height:60px;
}
.btn-img-container .btn-img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;

}
.page-loading{
	content: '';
	position: fixed;
	background-color: rgba(0,0,0,.4);
	width: 100%;
	height: 100%;
	z-index: 1000;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}
.page-loading span{
	color: #fff;
	font-size: 35px;
	margin-left: 20px;
}
.spinner {
  	width: 40px;
  	height: 40px;
  	position: relative;
}

.double-bounce1, .double-bounce2 {
  	width: 100%;
  	height: 100%;
  	border-radius: 50%;
  	background-color: #DDE0E3;
  	opacity: 0.6;
  	position: absolute;
  	top: 0;
  	left: 0;
  	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  	animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  	-webkit-animation-delay: -1.0s;
  	animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  	0%, 100% { -webkit-transform: scale(0.0) }
  	50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  	0%, 100% { 
  	  	transform: scale(0.0);
  	  	-webkit-transform: scale(0.0);
  	} 50% { 
  	  	transform: scale(1.0);
  	  	-webkit-transform: scale(1.0);
  	}

}