<form class="content" id="login_form" role="form">
	<div class="row">
		<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
			<div class="form-group label-floating is-empty">
				<label class="control-label">Your Email</label>
				<input class="form-control" placeholder="" type="email" name="email">
			</div>
			<div class="form-group label-floating is-empty">
				<label class="control-label">Your Password</label>
				<input class="form-control" placeholder="" type="password" name="pass">
			</div>
			<div class="remember">
				<div class="checkbox">
					<label>
						<input name="optionsCheckboxes" type="checkbox">
						Remember Me
					</label>
				</div>
				<a href="javascript:void(0)" data-toggle="modal" data-target="#lostpass" class="forgot">Forgot my Password</a>
			</div>
			<button type="submit" id="login_btn" class="btn btn-lg btn-primary full-width">Login</button>
			<div class="or"></div>
			<a href="javascript:loginFB()" class="btn btn-lg bg-facebook full-width btn-icon-left"><i class="fab fa-facebook-f" aria-hidden="true"></i>Login with Facebook</a>
			<a href="{{ twurl }}" class="btn btn-lg bg-twitter full-width btn-icon-left"><i class="fab fa-twitter" aria-hidden="true"></i>Login with Twitter</a>
			<a href="https://api.twitch.tv/kraken/oauth2/authorize?response_type=code&client_id={{ config.twitch.client_id }}&redirect_uri={{ config.twitch.redirect_url }}&scope=user_read" class="btn btn-lg bg-twitch full-width btn-icon-left"><i class="fab fa-twitch" aria-hidden="true"></i>Login with Twitch</a>
			<p>Don’t you have an account? <a href="start/register">Register Now!</a> it’s really simple and you can start enjoing all the benefits!</p>
		</div>
	</div>
</form>


<div class="modal-mx">
	<div class="modal fade" id="lostpass" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		    <form class="modal-content" role="form" id="lostpass_form">
			    <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalCenterTitle">Lost your password?</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          	<span aria-hidden="true">&times;</span>
			        </button>
			    </div>
			    <div class="modal-body">
					<div class="row">
						<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="form-group label-floating is-empty">
								<label class="control-label">Your Email</label>
								<input class="form-control" placeholder="" type="email" name="email">
							</div>
						</div>
					</div>
			    </div>
			    <div class="modal-footer">
			        <button type="submit" class="btn btn-lg btn-primary full-width" id="lostpass_btn">Recover password</button>
			    </div>
		    </form>
		</div>
	</div>
</div>