
<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <div class="top-header top-header-favorit">
                    <div class="top-header-thumb">
                        <img src="assets/dragsport/img/top-header2.jpg" alt="nature">
                        <div class="top-header-author">
                            <img src="assets/dragsport/img/dragsport-tag.png" class="dragsport-tag" alt="">
                            <div class="author-thumb">
                                <img src="assets/dragsport/img/author-main2.jpg" alt="author">
                                <a href="#" class="btn btn-control ">
                                <svg class="olymp-chat---messages-icon"><use href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
                            </a>
                            </div>
                            
                            <div class="author-content">
                                <a href="#" class="h3 author-name">Green Goo Rock</a>
                                <div class="country">Rock Band  |  San Francisco, CA</div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-section">
                        <div class="row">
                            <div class="col col-xl-8 m-auto col-lg-8 col-md-12">
                                <ul class="profile-menu">
                                    <li>
                                        <a href="fanpage" {% if m == null %}class="active"{% endif %}>Timeline</a>
                                    </li>
                                    <li>
                                        <a href="fanpage/about" {% if m == 'about' %}class="active"{% endif %}>About</a>
                                    </li>
                                    <li>
                                        <a href="profile/photos" {% if m == 'photos' %}class="active"{% endif %}>Photos</a>
                                    </li>
                                    <li>
                                        <a href="profile/videos" {% if m == 'videos' %}class="active"{% endif %}>Videos</a>
                                    </li>
                                    <li>
                                        <a href="fanpage/statistics" {% if m == 'statistics' %}class="active"{% endif %}>Statistics</a>
                                    </li>
                                    <li>
                                        <a href="fanpage/events" {% if m == 'events' %}class="active"{% endif %}>Events</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="control-block-button">
                            <a href="#" class="btn btn-control bg-green btn-img-container">
                                <img class="btn-img" src="assets/dragsport/img/author-main2.jpg" alt="author">
                            </a>
                            <a href="#" class="btn btn-control bg-green btn-img-container">
                                <img class="btn-img" src="assets/dragsport/img/author-main2.jpg" alt="author">
                            </a>
                            <a href="#" class="btn btn-control bg-green btn-img-container">
                                <img class="btn-img" src="assets/dragsport/img/author-main2.jpg" alt="author">
                            </a>
                            <a href="#" class="btn btn-control bg-green btn-img-container">
                                <img class="btn-img" src="assets/dragsport/img/author-main2.jpg" alt="author">
                            </a>
                            <a href="#" class="btn btn-control bg-green btn-img-container">
                                <img class="btn-img" src="assets/dragsport/img/author-main2.jpg" alt="author">
                            </a>

                            
                             <a href="#" class="btn btn-control bg-blue">
                                <svg class="olymp-chat---messages-icon"><use href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
                            </a>

                             <a href="#" class="btn btn-control bg-orange">
                                <svg class="olymp-chat---messages-icon"><use href="assets/dragsport/svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
                            </a>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>